<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Susurrus</title>
		{{template "global/globalhead.html" . }}
	</head>
	<body>
		{{template "components/header.html" . }}
		<main>
			<div>
				<p> This was meant to be playing around with HTMX, but ended up me making an extension package for echo to let me do some routing things I wanted to do, to colocate code. </p>
				<p> This is probably a terrible way to do it, but I wanted my js and css for each of my components and pages to be next to the html </p>
				<p> There are a lot of things I don't like already. The trimming of certain paths in the dynamic router, and the individual imports of css/js per file </p>
				<p> I am hoping to solve some of these as I go, and will probably take forever doing this, rather than playing with HTMX like I wanted.</p>
			</div>
		</main> 
	</body>
</html>